<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>minespace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <script src="/static/js/moment.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
    <script src="/static/js/firebase.js"></script>
    <script>
      var database = new Minebook();
      database.on('first_login', function OnFirstLogin(user) {
	window.location = "/initial";
      });
      database.on('login', function OnLogin(user) {
	var bar = document.getElementById("header");
	bar.innerHTML = "Welcome, " + user.displayName +
	  ' <a onclick="database.logout()">Log Out</a>';
      });
      database.on('logout', function OnLogout() {
      var bar = document.getElementById("header");
	  bar.innerHTML = '<a onclick="database.login()">Login</a>'
      });
    </script>
      {% block scripts %}
      {% endblock %}
    <script>
      database.startListeners();
    </script>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <div class="header" id="header">
      <a onclick="database.login()">Login</a>
    </div>
    <div class="container">
      <h1>{% block title %}Minespace{% endblock %}</h1>
      {% block contents %}
      {% endblock %}
    </div>
  </body>
</html>
