{% extends "base.html" %}

{% block scripts %}
<script>
  database.on('first_login', function OnFirstLogin(user) {
    var bar = document.getElementById("header");
    bar.innerHTML = 'Welcome, ' + user.displayName +
      ' <a onclick="logout()">Log Out</a>';
  });
  database.on('login', function OnLogin(user) {
    console.log('login from first_time');
    redirect('/');
  });
  database.on('logout', function OnLogout() {
    console.log('logout from first_time');
    redirect('/');
  });
</script>
{% endblock %}
{% block title %}Welcome to Minespace!{% endblock %}
{% block contents %}
      Please enter your in-game name.<p />
      Player name:
      <input type="text" name="player" id="player"><p />
      <button onClick="database.setPlayerName(document.getElementById('player').value)">
	Submit
      </button>
{% endblock %}
